@use "../utils/helpers" as *;

.accordion-item {
  &.is-active {
    .accordion-content {
      display: block;
    }
  }
}

.accordion-content {
  display: none;
  transition: all .3s ease;
  animation: show 0.5s;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
