@use "../utils/helpers" as *;

.btn {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include fs-lh(var(--font-size-body),var(--line-height-body));
  width: 100%;
  max-width: 320px;
  height: 60px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: var(--fw-semibold);
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: all .3s ease;

  &:hover {
    background-color: var(--color-secondary);
  }

  &:active,
  &:focus {
    background-color: var(--color-secondary-active);
  }

  &:disabled,
  &.btn-disabled {
    opacity: .5;
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.btn-primary {

}
