@use "../utils/helpers" as *;

.card {
  @include border(1px 0 0,#DFEDE0);
  padding: 20px 0 0;

  &.card_type_row {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 0 13px;

    .card__pic {
      margin-bottom: 0;
    }

    .card__wrapper {
      margin-bottom: 0;
    }
  }

  &.card_type_col {
    padding: 10px;
    overflow: hidden;
    border-radius: 16px;
  }

  &.card_bg_white {
    background-color: var(--color-white);
  }
}

.card_badge {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.card__pic {
  position: relative;
  margin: 0 0 20px;
}

.card__wrapper {
  margin: 0 0 24px;
}

.card__img {
  overflow: hidden;
  border-radius: 10px;
  background-color: #E5ECE5;
}

.card__wrapper {
  @extend %d-flex-column;
  @include fs-lh(var(--font-size-xs),var(--line-height-body));
  font-weight: var(--fw-medium);
  color: var(--color-primary);
  gap: 16px 0;
}

.card__subtitle {
  line-height: var(--line-height-xxl);
  color: var(--color-dark);
}

.card__title {
  @include fs-lh(var(--font-size-sm),var(--line-height-xxl));
  color: var(--color-body);
}

.card__footer {
  @extend %d-flex-column;
  gap: 10px 0;
}
