@use 'sass:list';

$lg-max-value: 1680px;
$md-max-value: 1279px;
$sm-max-value: 1023px;
$xs-max-value: 767px;
$xxs-max-value: 575px;

$xl-min-value: $lg-max-value + 1;
$lg-min-value: $md-max-value + 1;
$md-min-value: $sm-max-value + 1;
$sm-min-value: $xs-max-value + 1;
$xs-min-value: $xxs-max-value + 1;

$lg-range: ($lg-min-value, $lg-max-value);
$md-range: ($md-min-value, $md-max-value);
$sm-range: ($sm-min-value, $sm-max-value);
$xs-range: ($xs-min-value, $xs-max-value);

$breakpoint-up-xl: "(min-width: #{$xl-min-value})";
$breakpoint-up-lg: "(min-width: #{$lg-min-value})";
$breakpoint-up-md: "(min-width: #{$md-min-value})";
$breakpoint-up-sm: "(min-width: #{$sm-min-value})";
$breakpoint-up-xs: "(min-width: #{$xs-min-value})";

$breakpoint-down-xl: "(max-width: #{$lg-max-value})";
$breakpoint-down-lg: "(max-width: #{$md-max-value})";
$breakpoint-down-md: "(max-width: #{$sm-max-value})";
$breakpoint-down-sm: "(max-width: #{$xs-max-value})";
$breakpoint-down-xs: "(max-width: #{$xxs-max-value})";

$breakpoint-only-lg: "(min-width: #{list.nth($lg-range, 1)}) and (max-width: #{list.nth($lg-range, 2)})";
$breakpoint-only-md: "(min-width: #{list.nth($md-range, 1)}) and (max-width: #{list.nth($md-range, 2)})";
$breakpoint-only-sm: "(min-width: #{list.nth($sm-range, 1)}) and (max-width: #{list.nth($sm-range, 2)})";
$breakpoint-only-xs: "(min-width: #{list.nth($xs-range, 1)}) and (max-width: #{list.nth($xs-range, 2)})";
